<img id="image" src="https://techguided.com/wp-content/uploads/2019/01/Green-Man-Gaming-Logo-1024x252.png"
    alt="green man gaming logo">

<h1 id="title">PC Games from Green Man Gaming</h1>

<div id="gameobject">

    <ul>
        {{#each gameobject}}
        <li>
            <h2>{{title}}</h2>
            <img src="{{image}}" />
            <h3>{{link}}</h3>
            <button class="button" data-id="{{id}}">Note</button>
        </li>
        {{/each}}
    </ul>

</div>

<div id="notes">

</div>