body {
    font-family: 'Bangers', cursive;
    background-image: url("https://media.giphy.com/media/Q9aBxHn9fTqKs/giphy.gif");
    color: white;
    font-size: 30px;
}

#notes {
    position: fixed;
    right: 15vw;
    top: 25vh;
}
textarea, input {
    display: block;
    width: 100%;
    background-color: #00e105;
    font-family: 'Roboto Condensed', sans-serif;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

.link {
    font-size: 23px;
}

.button {
    font-family: 'Roboto Condensed', sans-serif;
}

.button:focus {
    background-color: green;
}

#image {
    position: relative;
    left: 50%;
    top: 10px;
    transform: translatex(-50%);
}

